extends ../layout_home

block content
      link(rel="stylesheet", href="/css/alarm.css")
      script(src="/js/alarm.js")
      div.body
            section 
                  div 
                        h2 임박 품목을 확인하세요
                  table.foodTable 
                        thead 
                              tr 
                                    th 음식
                                    th 유통기한
                              tbody 
                                    each item,index in result
                                          tr(data-p_num= `${item.p_num}`)
                                                td=item.p_name
                                                td=item.p_date


            
      