* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  height: 100vh;
}

li {
  list-style: none;
}

div.body {
  height: 90%;
  display: flex;
  flex-direction: column;
}
div.body section {
  width: 90%;
  height: 100%;
  margin: 38px auto;
  background-color: #a7cba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

div.btn_myRef {
  text-align: center;

  button.myRef {
    width: 95%;
    font-size: 1.1rem;
    font-weight: 800;
  }
}
div.btn_group {
  text-align: center;
}
button {
  width: 20%;

  font-size: 15px;
  text-decoration: none;
  color: #4e4e4e;
  cursor: pointer;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 0.3rem;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(1px, 1px);
}
section {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
div.food {
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 8px auto;
  width: 80%;
  justify-content: center;
  background-color: #fff;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
  ul {
    padding: 6px;
  }
  li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 2px;
    font-weight: 800;
    color: #4e4e4e;
  }
}

section btn.add {
  display: flex;
  justify-content: center;
}
