* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

html {
    height: 100vh;
}

li {
    list-style: none;
}

div.body {
    height: 90%;
    color: #4e4e4e;
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

section.list {
    /* border: 1px solid black; */
    width: 90%;
    height: 90%;
    background-color: #a7cba2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

section.list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #4e4e4e;
  margin: 20px;
  /* border: 1px solid black; */
  div.img {
    /* background-color: white; */
    /* border-radius: 10%; */

    img {
      width: 150px;
      height: 150px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: #eee; */
      border-radius: 10%;
      cursor: pointer;
    }
  }
  div.span {
    margin: 3px;
    span {
      /* border: 1px solid black; */
      text-align: center;
      margin: 3px;
      font-weight: 800;
      &:nth-of-type(1) {
        padding-right: 6px;
        border-right: 1px solid #ddd;
      }
    }
    a {
      cursor: pointer;
    }
  }
}

div.btn {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
div.btn a {
    width: 50%;
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: none;
    color: #4e4e4e;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    padding: 1em 1em;
    margin: 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: white;
}
div.setting {
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    i {
        /* border: 1px solid black; */
        border-radius: 15px;
        position: absolute;
        top: 3%;
        left: 73.5%;
        transform: translate(-10% -80%);
        cursor: pointer;
        padding: 10px;
        &:hover {
            background-color: #ccc;
        }
    }
}
