* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  height: 100vh;
}
body {
  height: 95%;
  background-color: #e7e5e5;
  border-radius: 15px;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header i {
  font-size: 1.2rem;
  margin: 10px 15px;
  color: #4e4e4e;
  cursor: pointer;
}

header i:hover {
  color: #858585;
}

p {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.control {
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 10%;
}

nav.control ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

nav li.add {
  font-size: 65px;
  margin-bottom: 3.5rem;
  color: #a7cba2;
}

nav li.home {
  font-size: 58px;
  margin-bottom: 3.5rem;
  color: #a7cba2;
}

nav li {
  font-size: 1.5rem;
  color: #4e4e4e;
}

nav li:hover {
  color: #858585;
}
