* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  height: 100vh;
}

body {
  height: 95%;
}

li {
  list-style: none;
}

div.body {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.main div.line li {
  flex: 1;
  padding: 15px;
  font-size: 1.5rem;
  text-align: center;
}

div.main span.close {
  color: #4e4e4e;
}
div.main span.close:hover {
  color: white;
}

div.control {
  font-size: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 10%;
}

div.control ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div li.home {
  font-size: 55px;
  margin-bottom: 4rem;
  color: #a7cba2;
}

div li {
  font-size: 1.5rem;
  color: #4e4e4e;
}

div li:hover {
  color: #858585;
}

div.body section {
  width: 90%;
  height: 90%;
  margin: 40px auto;
  background-color: #a7cba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
  }
}

div.name {
  width: 70%;
  margin: 0px auto;
  padding: 15px;
  border-bottom: 1px solid #858585;
}
div.detail {
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 1.2rem;
  margin: 6px auto;
  width: 70%;
  white-space: nowrap;
  strong {
    background-color: #a7cba2;
    text-align: center;
    flex: 1;
    margin-right: 20px;
    /* border-right 색 변경좀.. */
    border-right: 1px solid rgb(150, 150, 150);
    padding: 12px;
    font-weight: 900;
  }
  span {
    flex: 4;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 12px;
  }
}
div.divBox {
  width: 80%;
  height: 90%;
  margin: auto;
  background-color: #f4f4f4;
}
div.btnBox {
  display: flex;
  justify-content: center;
  button {
    margin: 12px 16px;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
  }
  button.update {
    background-color: #a7cba2;
  }
  button.delete {
    background-color: rgb(201, 112, 112);
  }
  button.list {
    background-color: #568ffa;
  }
}
