* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

html {
  height: 100vh;
}

body {
  height: 95%;
}

li {
  list-style: none;
}

div.body {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.body section {
  width: 90%;
  height: 90%;
  margin: 40px auto;
  background-color: #a7cba2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
  }
}

div.detail {
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 1.1rem;
  margin: 6px auto;
  width: 70%;
  white-space: nowrap;

  strong {
    /* background-color: #a7cba2; */
    text-align: center;
    flex: 1;
    margin-right: 20px;
    /* border-right 색 변경좀.. */
    border-right: 1px solid rgb(150, 150, 150);
    padding: 12px;
    font-weight: 800;
  }
  span {
    flex: 2;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); */
    padding: 12px;
  }
}
div.divBox {
  background-color: #f4f4f4;
  width: 80%;
  height: 100%;
  margin: 5px auto;
}
div.detail {
  border-bottom: 1px solid #aaa;
}
div.btnBox {
  display: flex;
  justify-content: center;

  button {
    margin: 12px 16px;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;

    &:hover {
      background-color: #eee !important;
    }
  }
  button.update {
    background-color: #e9e9ad;
  }
  button.delete {
    background-color: rgb(201, 112, 112);
  }
  button.list {
    background-color: #568ffa;
  }
}
