div.main {
  height: 90%;
  background-color: #e7e5e5;
  border-radius: 15px;
}

div.body {
  height: 90%;
  color: #4e4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  height: 90%;
  width: 90%;
  background-color: #f4f4f4;
  border-radius: 15px;
}

div.body ul {
  padding: 10% 10%;
}

div.body li {
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4e4e4e;
  font-size: 1.5rem;
  cursor: pointer;
}

div li:hover {
  color: #858585;
}
