extends ../layout_home

block content
      link(rel="stylesheet", href="/css/add.css")
      div.body
            div.btn_box 
                  a.add.fridge(href="fridge/add_fridge") 냉장고추가 
                        i.fa.fa-lemon
                  a.add.cart(href="fridge/shopmemo") 장바구니 
                        i.fa.fa-shopping-cart
            
      