extends ../layout_home

block content     
      link(rel="stylesheet", href="/css/add.css")
      link(rel="stylesheet", href="/css/thema/fridge_add_thema.css")
      script(src="/js/setting/setting_thema.js")
      div.body
            div.btn_box 
                  a.add.fridge(href="fridge/add_fridge") 냉장고추가 
                        i.fa.fa-lemon
                  a.add.cart(href="fridge/shopmemo") 장바구니 
                        i.fa.fa-shopping-cart
            
      