extends ../layout_home

block content
      link(rel="stylesheet", href="/css/add.css")
      script(src="/js/add.js")
      div.body
            div.btn_box 
                  a.add.firdge(href="fridge/add_fridge") 냉장고추가 
                        i.fa.fa-lemon
                  a.add.cart 장바구니 
                        i.fa.fa-shopping-cart
            
      