extends ../layout_home

block content
      link(rel="stylesheet", href="/css/add.css")
      script(src="/js/add.js")
      div.body
            div.btn_box 
                  button.add 냉장고추가 
                        i.fa.fa-lemon
                  button.add 장바구니 
                        i.fa.fa-shopping-cart
            
      