extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/fridge_list.css")
    script(src="/js/fridge_list.js")
    div.body 
        section 
            div.btn_myRef 
                button.myRef 냉장고
            //- div.btn_group 
            //-     button 전체
            //-     button 실외
            //-     button 냉장
            //-     button 냉동
            div.food_box
                each item in food
                    div.food
                        ul(data-food = `${item.p_num}`)
                            li ✓ 음식이름 :   
                                span=item.p_name
                            li ✓ 수량 : 
                                span=item.p_quan
                            li ✓ 구매일자 :  
                                span=item.p_exdate

            btn.add
                button 음식추가