extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/list_fridge.css")
    div.body
        section.list 
            ul 
                each item in FR
                    li
                        a(href="fridge_list/")     
                            div.list.photo= item.f_photo
                            span.list.div= item.f_div
                            span.list.name= item.f_name
                div.list.btn
                    a(href="add_fridge/") 냉장고추가 
