extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/list_fridge.css")
    link(rel="stylesheet", href="/css/thema/fridge_add_thema.css")
    script(src="/js/list_fridge.js")
    script(src="/js/setting/setting_thema.js") 
    div.body
        section.list 
            div.list.btn
                a 냉장고 추가
                a 장바구니 추가
            div.list.fridge
                each item in FR
                    ul(data-num = `${item.f_seq}`)
                        li
                            if item.f_image_name
                                img(src=`/uploads/${item.f_image_name}` width="200px" height="150px")
                            else 
                                img(src="/images/noImage.svg" width="200px" height="150px")
                            span.list.div= item.f_div
                            span.list.name= item.f_name
