extends layout_plus

block content
  link(rel="stylesheet", href="/css/thema/setting_thema.css")
  script(src="/js/setting/setting_thema.js")
  script(src="/js/main.js")
  //- if fridge.true
  p= message
