extends ../layout_home



block content
    link(rel="stylesheet", href="/css/calendar.css")
    script(src="/js/calendar/calendar.js")
    div.container
        section
            div.date
                p.prev &#60;
                p#year( name= "year") 
                p#month(name = "month") 
                p.next &#62;
            div.weekend
                div sun
                div mon
                div tus
                div wen
                div thu
                div fri
                div sat
            div.days
                
                   
            