extends ../layout_home


block content
    link(rel="stylesheet", href="/css/calendar.css")
    
    div.container
        section
            div.box 
                p.when= row +"  구매한 물품"
                .list 
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한 
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한                
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한
                    div 
                        p 어디에있는지
                        p 물품이름
                        p 갯수
                        p 유통기한                                                                                    
            
