extends ../layout_home
block content
    link(rel="stylesheet", href="/css/setting.css")
    link(rel="stylesheet", href="/css/setting_login.css")
    script(src="/js/setting_join.js")
    div.main
      div.body
        section.main
          article.login_body
            h2 회원가입
            form.join(method="post")
              input.username(name="username" placeholder="닉네임")
              input.userid(name="userid" placeholder="아이디")
              input.password(id="password" name="password" placeholder="비밀번호" type="password")
              input.re_password(id="password" name="re_password" placeholder="비밀번호 확인" type="password")
              button.btn_login(type="button") 회원가입