extends ../layout_home
block content
    link(rel="stylesheet", href="/css/setting/setting.css")
    link(rel="stylesheet", href="/css/setting/setting_login.css")
    link(rel="stylesheet", href="/css/thema/setting_thema.css")
    script(src="/js/setting/setting_menu.js")
    script(src="/js/setting/setting_login.js")
    script(src="/js/setting/setting_thema.js")
    div.main
      div.body
        section.main
          article.login_body.login
            h2 로그인
            form.login(method="post")
              if NEED
                  div.error= NEED
              input.userid(name="u_id" placeholder="아이디")
              input.password(id="password" name="u_pw" placeholder="비밀번호" type="password")
              button.btn_login(type="button") 로그인
              button.btn_join(type="button") 회원가입
