extends ../layout_home

block content 
    link(rel="stylesheet", href="/css/setting.css")
    link(rel="stylesheet", href="/css/setting_alam.css")
    link(rel="stylesheet", href="/css/setting_thema.css")
    script(src="/js/setting_menu.js")
    script(src="/js/setting_thema.js")
    div.main
        div.body
            section.box
                ul
                    div.wrapper
                        li.date 기한 임박 알림 
                            input.button(type="checkbox" id="switch1")
                            label.switch_label(for="switch1")
                                span.onf_btn
                    div.wrapper
                        li.thema 테마 
                            input.button.check(type="checkbox" id="switch2")
                            label.switch_label(for="switch2")
                                span.onf_btn 
                    if user
                        li 로그아웃
                    else
                        li 로그인
        