/* 라이트 모드 */
:root[color-theme="light"] {
  --background1: #e7e5e5;
  --background2: #f4f4f4;
  --background3: #a7cda2;
  --boxColor: #4e4e4e;
  --boxColor2: #4e4e4e;
  --boxColor3: #858585;
  --boxColor4: #e7e5e5;
}
/* 다크모드 */
:root[color-theme="dark"] {
  --background1: #363535;
  --background2: #474646;
  --background3: #97b992;
  --boxColor: #bdb8b8;
  --boxColor2: #a09e9e;
  --boxColor3: #7e7b7b;
  --boxColor4: #dddddd1a;
}

/* 설정창 */
tr.check {
  color: #858585;
  background-color: var(--boxColor4);
  :nth-of-type(3) {
    text-decoration: line-through;
  }
}
tr:hover {
  cursor: pointer;
  background-color: var(--boxColor4);
}

div.amount {
  div {
    color: var(--background2);
  }
}
div.btn_box {
  button {
    color: var(--background2);
  }
}
button.addmemo {
  color: var(--background2);
}

div.body,
body,
div.main {
  background: var(--background1);
}
input,
tr {
  background: var(--background2);
  color: var(--boxColor);

  color: var(--boxColor);
  border-bottom: 1px solid var(--boxColor3);
}
div.box input {
  border-bottom: 1px solid var(--boxColor3);
}

div.body li {
  border-bottom: 1px solid var(--boxColor2);
}

section.box,
nav.control {
  background: var(--background2);
}

/* 아이콘 색 */
i.fa.fa-cog,
i.fa.fa-bell,
i.fa.fa-calendar.check {
  color: var(--boxColor2);
}

div li.add {
  color: var(--background3);
}

/* 글씨 */
h1,
h2,
pre,
p {
  color: var(--boxColor);
}
