extends ../layout_home

block content 
    link(rel="stylesheet", href="/css/fridge/add_fridge.css")
    div.body
        section
            
                div.divBox
                    div.detail
                        strong 식품설명
                        span
                    div.detail
                        strong 등록날짜
                        span
                    div.detail
                        strong 유통 기한
                        span
                    div.detail
                        strong 메모
                        span
                    div.detail
                        strong 수량
                        span

                    div.btnBox
                        button.update 수정
                        button.delete 삭제
                        button.list 목록으로    